#root {
    /* starting color palette */
    --col1: #8ecae6;
    --col2: #219ebc;
    --col3: #023047;
    --col4: #ffb703;
    --col4: #fb8500;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

h4 {
    margin: 0;
}

#header {
    background-color: var(--col2);
}

#home {
    background-color: var(--col1);
}

#login {
    background-color: var(--col1);
}

#signup {
    background-color: var(--col1);
}

#profile {
    background-color: var(--col1);
}

#footer {
    background-color: var(--col2);
}